:root {
  --black: #191826;
  --white: #fcfaf9;
  --sky-blue: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url(../assets/bg-main-desktop.png);
  background-size: cover;
}

.content {
  padding: 0 115px;
}

h1 {
  font-weight: 700;
  font-size: 88px;
  letter-spacing: -1px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 20px;
}

h3 {
  font-weight: 700;
}

header img {
  padding: 30px 0;
}

.section-one {
  color: var(--black);
  padding: 0 110px 0 0;
}

.section-one p {
  font-size: 20px;
  line-height: 34px;
}

.section-two-container {
  background: var(--black);
  max-width: 1110px;
  max-height: 600px;
  border-radius: 10px;
}

.section-two .pattern {
  width: 312px;
  height: 468px;
  position: relative;
  top: -60px;
  left: 180px;
}

.section-two .mobile {
  width: 312px;
  height: 642px;
  position: absolute;
}
