:root {
  --black: #191826;
  --white: #fcfaf9;
  --sky-blue: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background: url(../assets/bg-main-desktop.png) top -275px left -250px
    no-repeat;
}

.body-design {
  background: url(../assets/bg-pattern-1.svg);
  background-repeat: no-repeat;
  background-position: top -40px right 1px;
}

h1 {
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -1px;
  margin-bottom: 40px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 20px;
}

header {
  color: var(--black);
  padding: 62px 0 108px 165px;
  width: 1100px;
}

header img {
  margin-bottom: 127px;
}

header p {
  font-size: 20px;
  line-height: 34px;
  font-weight: 300;
}

main {
  padding: 50px 165px 0;
}

.section-two {
  padding: 70px 0 200px;
}

.section-two-container {
  background: var(--black);
  max-width: 1110px;
  max-height: 600px;
  border-radius: 10px;
}

.section-two .pattern {
  width: 312px;
  height: 468px;
  position: relative;
  top: -135px;
  left: 340px;
}

.section-two .mobile {
  width: 312px;
  height: 642px;
  position: relative;
  top: -215px;
  left: -210px;
}

.premium-eq {
  background: var(--orange);
  color: var(--white);
  width: 446px;
  height: 625px;
  padding: 60px;
  border-radius: 10px;
  position: relative;
  bottom: 550px;
  left: 573px;
}

.premium-eq p {
  font-size: 20px;
  line-height: 34px;
  padding-bottom: 25px;
}

.dollar {
  font-size: 65px;
  font-weight: 700;
  padding-right: 10px;
}

.per-month {
  position: relative;
  top: -18px;
}

.apple-btn,
.android-btn {
  padding: 15px 0;
  border-radius: 10px !important;
  font-weight: 700;
}

.apple-btn {
  margin-bottom: 8px;
}

.apple-btn:hover {
  background: var(--sky-blue) !important;
  border-color: var(--sky-blue) !important;
}

.android-btn {
  margin-top: 8px;
}

.android-btn:hover {
  background: var(--yellow);
  border-color: var(--yellow);
}

.btn-apple-icon {
  padding: 0 5px 5px 0;
}

.btn-android-icon {
  padding: 0 5px 3px 0;
}

footer {
  padding: 0 165px 30px;
}

.social-media img {
  padding: 0 4px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
    background: url(../assets/bg-main-tablet.png) top -205px left -397px
      no-repeat;
  }

  .body-design {
    background: url(../assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top -30px right -10px;
    background-size: 266px 400px;
  }

  .content {
    padding: 0 35px;
  }

  h1 {
    font-size: 64px;
    letter-spacing: -1px;
    padding-bottom: 22px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 20px;
  }

  .section-one {
    padding: 40px 190px 190px 0;
  }

  .section-one p {
    font-size: 18px;
    line-height: 28px;
  }

  .section-two-container {
    max-width: 696px;
    max-height: 600px;
    border-radius: 10px;
  }

  .section-two .pattern {
    width: 280px;
    height: 420px;
    position: relative;
    top: -115px;
    left: 220px;
  }

  .section-two .mobile {
    width: 270px;
    height: 556px;
    position: relative;
    top: -155px;
    left: -230px;
  }

  .premium-eq {
    width: 399px;
    height: 546px;
    padding: 40px;
    position: relative;
    bottom: 420px;
    left: 233px;
  }

  .premium-eq p {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 15px;
  }

  footer .equalizer-logo {
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  body {
    background: url(../assets/bg-main-mobile.png) top -220px left 0 no-repeat;
  }

  .body-design {
    background: none;
  }

  .content {
    padding: 0;
  }

  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    padding-bottom: 8px;
    margin-bottom: 0;
  }

  header {
    padding: 40px 0 40px 24px;
  }

  .header-pattern {
    display: none;
  }

  .section-one {
    padding: 40px 0 140px 20px;
  }

  .section-one p {
    font-size: 16px;
    line-height: 26px;
  }

  .section-two {
    padding: 0 0 430px;
  }

  .section-two-container {
    max-width: 375px;
    max-height: 546px;
    border-radius: 10px;
  }

  .section-two .pattern {
    width: 280px;
    height: 420px;
    position: relative;
    top: 0px;
    left: 40px;
  }

  .section-two .mobile {
    width: 208px;
    height: 430px;
    position: relative;
    top: -515px;
    left: 75px;
  }

  .premium-eq {
    width: 375px;
    height: 546px;
    padding: 30px;
    position: relative;
    top: -460px;
    left: 0px;
  }

  .premium-eq p {
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .apple-btn {
    margin-bottom: 5px;
  }

  .android-btn {
    margin-top: 5px;
  }

  footer {
    padding: 0 0 50px 20px;
  }

  footer p {
    font-size: 16px;
    line-height: 26px;
    padding: 0 0 20px 0;
  }

  footer .equalizer-logo {
    padding-bottom: 25px;
  }

  .social-media img {
    padding: 0 5px;
  }
}
